$bg: #111114;
$box: #19181f;
$green: #02ffb2;
$gray: #d5d5d5;
$border: rgba(255, 255, 255, 0.1);

ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;

  li {
    padding: 12px;
    border: 1px solid $border;
    border-radius: 8px;
  }
}
