$bg: #111114;
$box: #19181f;
$green: #02ffb2;
$gray: #d5d5d5;
$border: rgba(255, 255, 255, 0.1);

form {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 200;
  font-family: 'DM Sans';
  gap: 1em;
  transition: 0.3s ease;

  .input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: start;

    h3 {
      font-weight: 400;
      font-size: 14px;
    }

    input {
      font-size: 1rem;
      padding: 8px;
      background: none;
      outline: none;
      border: 1px solid $border;
      border-radius: 8px;
      color: white;
      font-weight: 200;
      font-family: 'DM Sans';
      transition: 0.3s ease;
      width: 100%;

      &:focus {
        border-color: $green;
      }
    }

    select {
      padding: 8px;
      background: $box;
      outline: none;
      border-radius: 8px;
      border: 1px solid $border;
      font-size: 1rem;
      color: white;
      cursor: pointer;
      font-family: 'DM Sans';
      font-weight: 200;
      width: 100%;
      transition: border-color 0.3s ease;

      option {
        width: 100%;
      }
      &:focus {
        border-color: $green;
      }
    }
  }

  button {
    padding: 8px;
    margin-top: 12px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    background: $green;
    color: black;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: none;
      color: #02ffb2;
    }
  }

  .row {
    display: flex;
    gap: 1em;
  }
}
