.settings {
  padding: 20px;
  position: relative;
  width: 100%;
  //   border: 1px solid white;
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
