$bg: #111114;
$box: #19181f;
$green: #02ffb2;
$gray: #d5d5d5;
$border: rgba(255, 255, 255, 0.1);

.maintenance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  p {
    color: gray;
  }
}

.icon {
  font-size: 3rem;
  color: gray;
  text-align: center;
}
