$bg: #111114;
$box: #19181f;
$green: #02ffb2;
$gray: #d5d5d5;
$border: rgba(255, 255, 255, 0.1);

form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  input {
    font-size: 1rem;
    padding: 8px;
    background: none;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    outline: none;
    border: 1px solid $border;
    color: white;
    transition: 0.3s ease;

    &:focus {
      border-color: #02ffb2;
    }
  }
}

button {
  padding: 8px;
  margin-top: 12px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  background: $green;
  color: black;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: none;
    color: #02ffb2;
  }
}

.clear {
  background: #ef4b4b;
  background: none;
  color: gray;

  &:hover {
    color: #ef4b4b;
  }
}
