$bg: #111114;
$box: #19181f;
$green: #02ffb2;
$gray: #d5d5d5;
$border: rgba(255, 255, 255, 0.1);

.about {
  padding: 20px 20px 5rem;
  height: 100%;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1em;

  a {
    color: $green;
    text-decoration: none;
    text-decoration: underline;
  }
  main {
    display: flex;
    position: relative;
    width: 100%;
    align-items: start;

    .main {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }

  h2,
  h4 {
    color: $gray;
  }

  h2 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 300;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
  }

  h4 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 60px;
    font-weight: 300;
  }

  .content {
    width: 50%;
    border-left: 1px solid $border;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: gray;

    height: 50%;
    ul {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      gap: 1em;
      list-style: none;
    }
  }
}
