.expenses {
  padding: 2rem;

  h1 {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 1px;
  }

  table {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .expenses {
    padding: 20px;
    table {
      margin-top: 0;

      th {
        display: none;
      }
    }
  }
}
