$bg: #111114;
$box: #19181f;
$green: #02ffb2;
$gray: #d5d5d5;
$border: rgba(255, 255, 255, 0.1);

.reports {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 1em;

  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    nav {
      display: flex;
      gap: 1em;
      align-items: center;

      .line {
        height: 2rem;
        width: 1px;
        background: $gray;
      }

      button {
        // padding: 12px 10px;
        background: none;
        color: $gray;
        outline: none;
        border: none;
        cursor: pointer;
        transition: 0.3s ease;
        border-radius: 100px;
        font-weight: 600;

        &:hover {
          color: $green;
        }

        &:focus {
          color: $green;
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .container {
    display: flex;
    gap: 1em;
    justify-content: space-between;

    .card {
      min-height: 30vh;
      background: $box;
      border-radius: 20px;
      border: 1px solid $border;
      display: flex;
      flex-direction: column;
      gap: 2em;

      padding: 20px;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        li {
          padding: 12px;
          border-radius: 8px;
          border: 1px solid $border;
        }
      }

      &.small {
        width: 25%;

        &.top {
          p {
            font-size: 3.5rem;
          }
        }
      }

      &.medium {
        position: relative;
        overflow: hidden;
        width: 33%;
        max-height: 40vh;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 10vh;
          background: linear-gradient(to top, $box, transparent);
          bottom: 0;
          left: 0;
        }
      }

      &.pie {
        width: 30%;
      }

      &.large {
        justify-content: space-between;
        width: 70%;
        min-height: 40vh;
      }
    }

    &.cat {
      gap: 0.5rem;
    }

    .head {
      display: flex;
      flex-direction: column;
      gap: 1em;
      h4 {
        font-size: 5rem;
        font-weight: 200;
      }
    }
    h3 {
      font-weight: 400;
      color: gray;
    }
    p {
      font-size: 3rem;
    }

    table {
      border-collapse: separate;
      border-spacing: 0 12px;
      thead {
        th {
          font-weight: 400;
          color: gray;
          text-align: left;
        }
      }

      tbody {
        td {
          padding: 0.5rem;
          &:first-child {
            border: 1px solid $border;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border-right: none;
          }
          &:nth-child(2) {
            border: 1px solid $border;
            border-left: none;
            border-right: none;
          }

          &:last-child {
            border: 1px solid $border;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            border-left: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .reports {
    main {
      .container {
        flex-direction: row;
        flex-wrap: wrap;

        .card {
          width: auto;
          flex-grow: 1;
          min-height: auto;
          max-height: auto;

          &.pie {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .reports {
    main {
      .container {
        flex-direction: row;
        flex-wrap: wrap;

        .card {
          width: auto;
          flex-grow: 1;
          min-height: auto;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .reports {
    header {
      flex-direction: column;
      align-items: start;
      gap: 1em;
      nav {
        gap: 0.5em;
      }
    }
    main {
      .container {
        flex-direction: column;

        .card {
          width: 100%;
          min-height: 0;

          .head {
            h4 {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
}
