$bg: #111114;
$box: #19181f;
$green: #02ffb2;
$gray: #d5d5d5;
$border: rgba(255, 255, 255, 0.1);

// global

h1 {
  font-size: 2rem;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $bg;
  color: white;
  font-family: 'DM Sans', sans-serif;
}

.app {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;

  aside {
    border-right: 1px solid $border;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;

    h1 {
      color: $green;
      font-weight: 400;
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 2em;
      width: 100%;

      a {
        padding: 12px;
        text-decoration: none;
        color: white;
        width: 100%;
        border-radius: 8px;
        transition: 0.3s ease;
        border: 1px solid $bg;

        display: flex;
        align-items: center;
        gap: 12px;

        .icon {
          font-size: 1.5rem;
        }

        &.active {
          border: 1px solid $border;
          background: rgba(255, 255, 255, 0.031);
        }
        &:hover {
          border: 1px solid $border;
          background: rgba(255, 255, 255, 0.031);
        }
      }

      &.mobile {
        display: none;
      }
    }
  }

  .outlet {
    position: relative;
    flex: 1;
    min-width: 0;
    margin-left: 250px;

    .dashboard {
      width: 100%;
      position: relative;
      height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1em;

      header {
        display: flex;
      }

      .board {
        position: relative;
        display: flex;
        gap: 1em;
      }

      .bottom {
        justify-content: space-between;

        .small {
          width: 33%;
        }
      }
      .container {
        width: 30%;
        min-height: 40vh;
        max-height: 50vh;
        padding: 20px;

        border: 1px solid $border;
        border-radius: 20px;
        background: $box;

        h2 {
          font-weight: 400;
          color: $gray;
        }
      }

      .total {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          nav {
            display: flex;
            gap: 1em;
            align-items: center;

            button {
              outline: none;
              background: none;
              color: white;
              border: none;
              color: $gray;
              transition: 0.3s ease;
              cursor: pointer;

              &:hover {
                color: white;
              }
            }

            .line {
              height: 24px;
              width: 1px;
              background: $gray;
            }
          }
        }

        .head {
          display: flex;
          flex-direction: column;

          h2 {
            font-size: 1.2rem;
          }
          h3 {
            font-size: 5rem;
            font-weight: 200;
            color: $gray;
            letter-spacing: 1px;
          }
        }
      }
      .quick {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }

      .pie {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;

        nav {
          display: flex;
          gap: 1em;
          align-items: center;

          button {
            outline: none;
            background: none;
            color: white;
            border: none;
            color: $gray;
            transition: 0.3s ease;
            cursor: pointer;

            &:hover {
              color: white;
            }
          }

          .line {
            height: 24px;
            width: 1px;
            background: $gray;
          }
        }
      }

      .exp-wrapper {
        position: relative;
        overflow: hidden;
        max-height: 50vh;

        &::after {
          content: '';
          width: 100%;
          height: 20vh;
          background: linear-gradient(to top, $box, transparent);
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 99;
          pointer-events: none;
        }
      }
      .exp {
        position: relative;
        overflow: hidden;

        h2 {
          position: relative;
        }

        header {
          width: 100%;
          position: sticky;
          top: 0;

          display: flex;
          flex-direction: column;
          background: $box;
          z-index: 99;

          .head {
            width: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;

            a {
              color: $gray;
              transition: 0.3s ease;
              text-decoration: none;
              padding: 5px 10px;
              border-radius: 100px;

              &:hover {
                color: white;
                background: rgba(255, 255, 255, 0.049);
              }
            }
          }

          table {
            margin-top: 20px;
            width: 100%;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 99;

            th {
              color: $gray;
              font-weight: 500;

              &:last-child {
                text-align: left;
              }
            }
          }
        }
      }

      .set {
        display: flex;
        flex-direction: column;
        gap: 1em;

        h3 {
          margin-top: 20px;
          font-weight: 400;
          font-size: 3rem;
          color: $gray;
        }
      }

      .fix {
        display: grid;
        place-items: center;
      }

      .large {
        width: 70%;
        min-height: 40vh;
      }

      .small {
        width: 30%;
        min-height: 40vh;
      }
    }
  }
}

// linechart fix

@media screen and (max-width: 1200px) {
  main {
    .dashboard {
      .board:last-child {
        container {
          max-height: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .app {
    .outlet {
      margin-left: 70px;
    }
    aside {
      padding: 10px;
      width: 70px;

      .pc {
        display: none;
      }

      nav {
        &.mobile {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .app {
    flex-direction: column;

    .outlet {
      .dashboard {
        padding: 20px;
        .container {
          max-height: none;
        }
        .board {
          flex-direction: column;

          .large,
          .small {
            width: 100% !important;
          }
        }

        .exp {
          table {
            th {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
