@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bg: #111114;
$box: #19181f;
$green: #02ffb2;
$gray: #d5d5d5;
$border: rgba(255, 255, 255, 0.1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $bg;
  color: white;
  font-family: 'DM Sans', sans-serif;
}

.app {
  position: relative;
  display: flex;
  width: 100vw;

  .sidebar {
    position: relative;
    border-right: 1px solid $border;
    height: 100vh;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    h1 {
      color: $green;
      font-weight: 400;
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 2em;
      width: 100%;

      a {
        padding: 12px;
        text-decoration: none;
        color: white;
        width: 100%;
        border-radius: 8px;
        transition: 0.3s ease;
        border: 1px solid $bg;

        display: flex;
        align-items: center;
        gap: 12px;

        .icon {
          font-size: 1.5rem;
        }
        &:hover {
          border: 1px solid $border;
          background: rgba(255, 255, 255, 0.031);
        }
      }
    }
  }

  main {
    position: relative;
    // border: 1px solid white;
    width: 100%;

    .dashboard {
      width: 100%;
      position: relative;
      height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2em;

      header {
        display: flex;
        h1 {
          font-size: 2rem;
          font-weight: 300;
        }
      }

      .board {
        display: flex;
        gap: 1em;
      }

      .bottom {
        justify-content: space-between;

        .small {
          width: 33%;
        }
      }
      .container {
        width: 30%;
        min-height: 40vh;
        padding: 20px;

        border: 1px solid $border;
        border-radius: 20px;
        background: $box;

        h2 {
          font-weight: 400;
          color: $gray;
        }
      }

      .quick {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }

      .large {
        width: 70%;
        min-height: 40vh;
      }

      .small {
        width: 30%;
        min-height: 40vh;
      }
    }
  }
}
