<div class="dashboard">
  <header>
    <h1>Main Dashboard</h1>
    
  </header>

  <main class="board">
    <div class="container large">
      <h2>Total Expenses</h2>
    </div>
    <div class="container small quick">
      <h2>Quick Add</h2>
      <app-form />
    </div>
  </main>
  <main class="board">
    <div class="container large">
      <h2>Your Expenses</h2>
      <app-expenses />
    </div>
    <div class="container small"></div>
  </main>
  <main class="board bottom">
    <div class="container small"><h2>Recent Activity</h2></div>
    <div class="container small"></div>
    <div class="container small"></div>
  </main>
</div>
